{% extends 'layouts/base.html' %}
{% load bootstrap5 %}

{% load static %}

{% block content %}
{% include 'components/big_question_item.html' %}
<hr>


<div class="d-flex flex-column gap-3">
    {% for answer in answers %}

    {% include 'components/answer_item.html' %}

    {% endfor %}
</div>

<hr>
<div class="mb-3 row">
    <div class="row-3 gap-3">
        <form method="post" >
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button class="btn btn-outline-success" type="submit">Answer</button>
            {% endbuttons %}
        </form>
    </div>
</div>

{% include 'components/pagination.html' %}

{% endblock %}