{% extends 'layouts/base.html' %}
{% load bootstrap5 %}

{% load static %}

{% block content %}
<div class="d-flex gap-3 align-items-center">
    <h1>Settings: Dr. Pepper</h1>
</div>

<div class="row mt-4">
    <div class="col-3">
        <!-- Текущая аватарка -->
        <div class="border mb-3">
            <img src="{% if request.user.profile.avatar %}{{ request.user.profile.avatar.url }}{% else %}/static/img/jpg.jpg{% endif %}" alt="Current Avatar" class="img-thumbnail" style="max-width: 100%;">
        </div>
    </div>
    <div class="col-9">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button class="btn btn-outline-success" type="submit">Save</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
