{% extends 'layouts/base.html' %}
{% load bootstrap5 %}

<!--{% block navbar %}-->
<!--    <div class="d-flex gap-1">-->
<!--        <a href="{% url 'login' %}">log in</a>-->
<!--        <a href="{% url 'signup' %}">sign up</a>-->
<!--    </div>-->
<!--{% endblock %}-->

{% block content %}
<div class="d-flex gap-3 align-items-center">
    <h1>Sign Up</h1>
</div>

<div class="row">
    <div class="col-9 mt-1">
        <form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button class="btn btn-outline-success" type="submit">Register!</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
