{% load static %}

<div class="card-body">
    <div class="row">
        <div class="col-3">
            <div class="border mb-1 d-inline-block">
                <img src="{% if question.author.avatar %}{{ question.author.avatar.url }}{% else %}/static/img/jpg.jpg{% endif %}"
     alt="Avatar" class="img-thumbnail" style="height: 170px;">
            </div>
            <div class="like-section d-flex align-items-center gap-2">
                    <button class="btn btn-outline-success" data-type='question' data-id="{{ question.id }}" type="button" style="display: inline-flex; align-items: center;">
                        👍
                    </button>
                    <span class="rating">Likes:</span>
                    <span class="rating">{{ question.likes_count }}</span>
                </div>

        </div>
        <div class="col-9">
            <h5 class="card-title"><a href="{% url 'question' question_id=question.id %}">{{ question.title }}</a></h5>
            <p class="card-text">{{ question.text }}</p>
            <div class="d-flex gap-5">
                    <div>

                        Tags:
                        {% for tag in question.tags.all %}
                            {% include 'components/question_tags.html' %}
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</div>