{% load static %}

<div class="card-body">
    <div class="row">
        <div class="col-3">
            <div class="border mb-1 d-inline-block">
                <img src="{% if question.author.avatar %}{{ question.author.avatar.url }}{% else %}/static/img/jpg.jpg{% endif %}"
     alt="Avatar" class="img-thumbnail" style="height: 170px;">
            </div>
            <input class="form-control" type="number" value="{{ question.likes_count }}" placeholder="Default input"
                aria-label="default input example">

        </div>
        <div class="col-9">
            <h5 class="card-title"><a href="{% url 'question' question_id=question.id %}">{{ question.title }}</a></h5>
            <p class="card-text">{{ question.text }}</p>
            <div class="d-flex gap-5">
                    <div>

                        Tags:
                        {% for tag in question.tags.all %}
                            {% include 'components/question_tags.html' %}
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</div>